/*****************
 * Theming
 ****************/
// specify the type of your FrontendComponent according to the Ricardo Proton Design pattern
// Can take one of the following values: element, component, page
@type : 'element';

// A unique identifier for this stylesheet.
// This is the identifier that will be used by `config.theme` to set the theme,
// as well as by the theme.less file to locate the theme variable files inside the theme packages.
@name : 'util-grid';

@import (multiple) 'config.theme';

/*****************
 * Styles
 ****************/

/* Grid */
body {
  margin: 0 auto;
  padding: 0;
}

.flexgrid {
  display: flex;
}

.col {
  flex: 1;
}

.row {
  padding-left: @default-spacing-component;
  padding-right: @default-spacing-component;
}

.hidden-xs {
  display: none;
}

@media (min-width: @screen-sm-min) {
  .hidden-xs {
    display: block;
  }
}
