// Lists
// -------------------------
@import (reference) "lists-mixins";

// Unordered and Ordered lists
ul,
ol {
  margin-top: @default-spacing-element * 1.5;
  margin-bottom: @default-spacing-element * 1.5;
  padding-left: @default-spacing-element * 3; // we use margin later because of the 2nd line indent
  list-style-position: outside;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  .elementSpacing(@default-font-size, @default-line-height-factor, @default-spacing-element * 1.5);
}

// List variations
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  .list-unstyled();
  margin-left: -@default-spacing-element;

  > li {
    display: inline-block;
    padding-left: @default-spacing-element;
    padding-right: @default-spacing-element;
  }
}

.list-advantage {
  .list-icon(@ric-icon-plus-oval, @color-green-10);
}

.list-disadvantage {
  .list-icon(@ric-icon-minus-oval, @color-red-10);
}

.list-checklist {
  .list-icon(@ric-icon-checkmark-oval, @color-green-10);
}

.list-collapsible {
  .list-icon(@ric-icon-arrow-down, @color-cta-primary);

  > li:before {
    background-color: @color-grey-40;
    font-size: 1em;
    padding-left: 3px; // width of a space
    top: -0.1rem;
  }

  ul {
    display: none;
  }

  .open ul {
    display: block;
  }

  .open:before {
    content: "@{ric-icon-arrow-up} \a0";
  }
}
